body, html {
	background-color: #477bc7;
	max-width: 100%;
}

.row {
	width: 100%;
	display: flex;
	column-gap: 50px;
}

.column {
	width: 100%;
	flex: 50%;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

h1 {
	margin: auto;
	font-family: Monaco, monospace;
	font-size: 80px;
	color: antiquewhite;
	text-align: left;
	padding-left: 120px;
}

h2 {
	display: inline-block;
	width: 100%;
	font-family: Monaco, monospace;
}

p {
	font-family: Monaco, monospace;
}

u {
	font-weight: bold;
}

em {
	font-size: small;
}

img {
	width: 50%;
	align-items: center;
}

.top_container {
	width: 100%;
	display: flex;
	margin-top: 70px;
}

.container {
	padding: 50px;
	border-radius: 25px;
	background-color: antiquewhite;
	display: flex;
	align-items: center;
	border-style: outset;
	flex-direction: column;
	margin: 70px;
}

#choropleth_map {
	margin: auto;
	width: 100%;
	display: flex;
	align-items: center;
}

#combined_plot {
	margin: auto;
	width: 100%;
	display: block;
	align-items: left;
}

#ranged_dot_plot {
	margin: auto;
	width: 100%;
	display: flex;
	align-items: center;
}

#bar_chart_1 {
	margin: auto;
	width: 100%;
	display: flex;
	align-items: center;
}

#bar_chart_2 {
	margin: auto;
	width: 100%;
	display: flex;
	align-items: center;
}

/* Vega-Lite */
.vega-bindings {
	font-size: small;
	font-family: Monaco, monospace;
	padding-top: 20px;
	padding-left: 8px;
}

select {
	font-size: small;
	font-family: Monaco, monospace;
}