body {
	background-color: antiquewhite;
	width: 1920px;
}

.row {
	width: 100%;
	display: flex;
}

.column {
	flex: 50%;
}

h1 {
	margin: auto;
	padding-top: 70px;
	font-family: Monaco, monospace;
	text-align: center;
}

h2 {
	display: inline-block;
	width: 100%;
	font-family: Monaco, monospace;
}

p {
	padding-right: 80px;
	font-family: Monaco, monospace;
}

#container {
	padding: 50px;
	margin: auto;
	border-radius: 25px;
	background-color: white;
	display: flex;
	align-items: center;
	border-style: outset;
	flex-direction: column;
	margin: 70px;
}

#choropleth_map {
	margin: auto;
	background-color: white;
	width: 100%;
	display: flex;
	align-items: center;
}

#combined_plot {
	margin: auto;
	background-color: white;
	width: 100%;
	display: flex;
	align-items: center;
}

/* Vega-Lite */
.vega-bindings {
	font-size: small;
	font-family: Monaco, monospace;
}